
@media screen and (max-width: 330px) {

    .banner {
        top: 300px !important;
    }

}

.banner {
    -webkit-animation: banner .4s ease-in-out .3s 1 normal forwards;
            animation: banner .4s ease-in-out .3s 1 normal forwards;
    overflow: hidden;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: 0;
    z-index: 3000;
    background: var(--primary);
    padding: 40px;
    width: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 93px 9px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 93px 9px rgba(0,0,0,0.75);
}

.banner p {
    color: #fff;
    text-align: center;
}

.banner button {
    margin-bottom: 10px;
    border: none;
    font-size: 1.3em;
    margin: auto;
    display: block;
    margin-top: 25px;
}

.banner button i {
    margin-right:  10px;
}

.banner.none {
    visibility: hidden;
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
    top: -2000px;
}

#banner-button.none {
    visibility: hidden;
}

@-webkit-keyframes banner {
    from {
        opacity: 0;
        bottom: 1000px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes banner {
    from {
        opacity: 0;
        bottom: 1000px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}

.desktop-call {
    display: none !important;
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1050px) {

    .banner {
        width: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .banner p {
        text-align: center;
        font-size: 1.4em;
    }

    .banner button {
        margin: 40px auto;
        display: block;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1051px) {

    .banner {
        width: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .banner p {
        text-align: center;
        font-size: 1.4em;
    }

    .banner button {
        margin: 40px auto;
        display: block;
        margin-bottom: 0;
    }

    .banner.none {
        visibility: hidden;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
        top: -2000px;
    }

}

/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

#hero {
    background: url("/images/landing-mini.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
}

.hero-text {
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: 35%;
}

.hero-text h1 {
    color: #f5f3f3;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Slackey', cursive;
}

.hero-text h2 {
    color: #f5f3f3;
    font-weight: normal;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.l-menu-button,
.order-button {
    width: 200px;
}

.order-button {
    border-color: #fff;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 25px;
}

/*-- -------------------------- -->
<---           PROMISE          -->
<--- -------------------------- -*/

#our-promise {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.gyro {
    width: 100%;
}

.greek {
    position: absolute;
    top: 100px;
    right: -150px;
    z-index: -1;
    width: 100%;
}

.left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.left h2 {
    text-align: left;
    margin-top: 28px;
    font-family: 'Slackey', cursive;
    font-size: 40px;
    font-weight: bold;
}

.promise-line {
    width: 250px;
    height: 3px;
    background: var(--primary);
    margin-bottom: 20px;
}

.left p {
    margin-bottom: 40px;
}

.promise-button {
    margin-bottom: 80px;
}

/*-- -------------------------- -->
<---         MENU STRIP         -->
<--- -------------------------- -*/

#menu-strip {
    background: url("/images/random-food-mini.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu-strip-dark {
    position: absolute;
    background: var(--primary);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .92;
}

#menu-strip h2 {
    text-transform: uppercase;
    font-family: 'Slackey', cursive;
    margin-top: 40px;
}

#menu-strip h2,
#menu-strip button {
    position: relative;
    z-index: 20;
    color: #f5f3f3;
}

.wave {
    position: absolute;
    top: -1px !important;
    left: -500px;
    margin: auto;
    height: 50px;
    z-index: 10;
    -webkit-animation-name: wave;
            animation-name: wave;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes wave {
    0% {
        left: -500px;
    }

    50% {
        left: -400px;
    }

    100% {
        left: -500px;
    }
}

.menu-strip-button {
    border-color: #fff;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 25px;
}

/*-- -------------------------- -->
<---            GYROS           -->
<--- -------------------------- -*/

#gyros-showcase h2 {
    font-family: 'Slackey', cursive;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.gyro-item {
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.gyro-item img {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border: 10px solid #f5f5f5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.24);
            box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.24);
}

.gyro-item h3 {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Rock Salt', cursive;
    color: var(--primary);
    font-weight: bold;
    font-size: 25px;
}

.gyros-button {
    margin: auto !important;
}

.mobile-remove {
    display: none;
}

/*-- -------------------------- -->
<---          OUR STORY         -->
<--- -------------------------- -*/

#our-story {
    position: relative;
    background: #fafafa;
}

#our-story h2 {
    font-family: 'Slackey', cursive;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

#our-story img {
    margin-top: 40px;
}

#our-story span {
    font-size: 3em;
    font-family: 'Slackey', cursive !important;
}

.story-button {
    margin-top: 40px;
    margin-bottom: 0px;
}

.vegetables {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.faded {
    position: absolute;
    width: 300px;
    top: -200px;
    overflow: hidden;
    z-index: -1;
    opacity: .4;
}

.faded2 {
    position: absolute;
    width: 300px;
    top: -200px;
    left: -120px;
    overflow: hidden;
    z-index: -1;
    opacity: .4;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}


/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1050px) {

    
    .mobile-wrapper img {
        width: 400px;
        height: auto;
        top: 100px;
    }

    .hero-text {
        width: 650px;
    }

    .hero-text h1 {
        font-size: 60px;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .hero-text h2 {
        width: 500px;
        margin: auto;
    }

    .hero-text h1, .hero-text h2 {
        text-align: center;
    }

    .hero-text button {
        margin: auto;
        display: block;
    }

    .l-menu-button {
        margin-bottom: 30px !important;
        margin-top: 50px !important;
    }

    /*-- -------------------------- -->
    <---           PROMISE          -->
    <--- -------------------------- -*/

    .left h2 {
        margin-top: 50px
    }

    .left p {
        width: 500px;
    }

    .greek {
        top: 250px;
        right: -300px;
    }

    /*-- -------------------------- -->
    <---         MENU STRIP         -->
    <--- -------------------------- -*/

    #menu-strip {
        background: url("/images/random-food.jpg");
    }

    /*-- -------------------------- -->
    <---       GYROS SHOWCASE       -->
    <--- -------------------------- -*/

    .mobile-remove {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .gyros {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: auto;
        margin-top: 50px;
    }

    .gyro-item {
        width: 40%;
    }

    .gyro-item h3 {
        font-size: 20px;
    }

    .gyro-item img {
        height: 268px;
    }

    .signature {
        margin: auto;
        display: block;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .promise-button {
        margin-bottom: 0;
    }

    /*-- -------------------------- -->
    <---          OUR STORY         -->
    <--- -------------------------- -*/


    #our-story h2 {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #our-story p {
        -webkit-columns: 2;
           -moz-columns: 2;
                columns: 2;
        text-align: left;
    }

    #our-story span {
        font-family: 'Slackey', cursive;
        font-size: 3em;
    }

    .story-button {
        display: block;
        margin: auto;
        margin-top: 25px;
    }

    .faded {
        width: 500px;
        right: -50px;
    }

    .faded2 {
        width: 500px;
        left: -50px;
    }

    /*-- -------------------------- -->
    <---          OUR STORY         -->
    <--- -------------------------- -*/

}

@media screen and (min-width: 1051px) {

    /*-- -------------------------- -->
    <---           LANDING          -->
    <--- -------------------------- -*/

    .mobile-remove {
        display: block;
    }

    #hero {
        background-attachment: fixed;
        background: url("/images/landing.jpg");
    }

    .hero-text {
        width: 650px;
        margin: 0;
    }

    .hero-text h1 {
        font-size: 60px;
        margin-bottom: 50px;
        margin-top: 100px;
    }

    .hero-text h2 {
        width: 500px;
        margin: auto;
    }

    .hero-text h1, .hero-text h2 {
        text-align: center;
    }

    .hero-text button {
        margin: auto;
        display: block;
    }

    .l-menu-button {
        margin-bottom: 30px !important;
        margin-top: 50px !important;
    }

    .desktop-call {
        display: block !important;
    }

    .mobile-call {
        display: none !important;
    }
    
    /*-- -------------------------- -->
    <---          PROMISE           -->
    <--- -------------------------- -*/

    #our-promise {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .left {
        width: 400px;
    }

    .gyro {
        width: auto;
        height: 450px;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .greek {
        top: -250px;
        left: -800px;
        width: 900px;
        z-index: -1;
    }

    /*-- -------------------------- -->
    <---         MENU STRIP         -->
    <--- -------------------------- -*/

    #menu-strip {
        background-attachment: fixed;
        background: url("/images/random-food.jpg");
    }

    /*-- -------------------------- -->
    <---       GYROS SHOWCASE       -->
    <--- -------------------------- -*/

    #gyros-showcase h2 {
        margin-bottom: 80px;
    }

    .gyros {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .gyro-item {
        width: 30%;
    }

    .faded {
        width: 800px;
        right: 0;
        top: -300px;
    }

    .faded2 {
        width: 800px;
        left: 0;
        top: -300px;
    }

    .ipad-fix {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .ipad-fix img {
        order: 1;
    }

    .mobile-remove {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /*-- -------------------------- -->
    <---          OUR STORY         -->
    <--- -------------------------- -*/

    #our-story {
        background: #fafafa
    }

    #our-story h2 {
        position: relative;
        z-index: 11;
    }

    #our-story p {
        position: relative;
        z-index: 10;
        -webkit-columns: 2;
           -moz-columns: 2;
                columns: 2;
    }

    #our-story span {
        font-family: 'Slackey', cursive;
        font-size: 3em;
    }

    .story-button {
        position: relative;
        z-index: 10;
        margin: auto;
        display: block;
        margin-top: 40px;
    }


}